{{template "base" .}}

{{define "title"}}About{{end}}

{{define "headline"}}
  <div class="header show-header">
    <div class="title">About</div>
  </div>
  <div class="line">
    <hr>
  </div>
{{end}} 
{{define "main"}}
    This is where my about page goes!
{{end}}