{{template "base" .}}

{{define "title"}}About{{end}}

{{define "headline"}}
  <div class="header show-header">
    <div class="title">About</div>
  </div>
  <div class="line">
    <hr>
  </div>
{{end}} 
{{define "main"}}
  <p>
    An educational digest, with a dash of charm of a bush leaguer, that is unsurprisingly geared 
    towards—<em>computer and stuff</em>. Started in the optimistic year of 2021.
  </p> 
  <br>
  <h2>Background</h2>
  <p>
    I woke up and thought, “I should write a blog about computer and stuff.” 
  </p>
  <h2>Major Areas of Discussion</h2>
  <p>
    Coding Challenges, Go, JavaScript, Databases, Computer Networking, Web Security, Web Applications, and Miscellaneous topics. 
    As a reader I bet you are thinking Miscellaneous? That’s too general. Well, it gives me an excuse to write about anything I 
    want without the reader harboring any thoughts of betrayal or heartrending sentiments 
  </p>
  <h2>Topics Breakdown</h2>
    <ul>
      <li>
        <h3>Coding Challenges</h3>
        <ol>
          <li>Hackerrank</li> 
          <li>Leetcode</li>
          <li>Common Data Structures</li>
          <li>Common Algorithms </li>
        </ol>
      </li>
      <li>
        <h3>Go and JavaScript</h3>
        <ol>
          <li>Basics</li> 
          <li>Advanced</li>
          <li>Popular Packages</li>
          <li>News </li>
        </ol>
      </li>
      <li>
        <h3>Databases</h3> 
        <ol>
          <li>Basics</li> 
          <li>Advanced</li>
          <li>Common Implementations </li>
          <li>News </li>
        </ol>
      </li>
      <li>
        <h3>Computer Networking</h3> 
        <ol>
          <li>OSI Model</li> 
          <li>TCP/IP Model</li>
          <li>Every Layer in the models (mainly focusing on the upper halves of the models) </li>
          <li>News </li>
        </ol>
      </li>
      <li>
        <h3>Web Security</h3>
        <ol> 
          <li>OWASP Top 10</li> 
          <li>Implement best practices</li>
          <li>News </li>
        </ol>
      </li>
      <li>
        <h3>Web Applications</h3>
        <ol>
          <li>Mix in all of these tools to create projects</li>
          <li>News </li>
        </ol>
      </li>
      <li>
        <h3>Miscellaneous</h3>
        <ol>
          <li>If you read at a pre-school level, I apologize for your unfortunate situation, but as mentioned I will cover really anything</li> 
        </ol>
        </li>
    </ul>
{{end}}