{{define "base"}}

<!doctype html>

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel='stylesheet' href='/static/css/main.css'>
    <link rel='shortcut icon' href='/static/img/favicon.ico' type='image/x-icon'>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&
    family=Rufina:wght@400;700&display=swap" rel="stylesheet">

    <title>{{template "title" .}}</title>
  </head>
  <body>
    <div class="container">
      <div class="head">
        {{template "headline" .}}
      </div>
      {{with .Flash}}
        <div class="flash">{{.}}</div>
      {{end}}
      <article class="main">
        {{template "main" .}}
      </article>
    </div>  
    <!-- <footer class="footer">
      {{template "footer" .}}
    </footer> -->
  </body>
</html>
{{end}}