{{define "base"}}

<!doctype html>

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel='stylesheet' href='/static/css/style.css'>
    <link rel='shortcut icon' href='/static/img/favicon.ico' type='image/x-icon'>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&
    family=Rufina:wght@400;700&display=swap" rel="stylesheet">

    <title>CWS: {{template "title" .}}</title>
  </head>
  <body>
    <nav class="big nav-text">
      <ul>
        <li><a href="#">Contact</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/">Home</a></li>
        <li>
          {{if .IsAuthenticated}}
            <form action="/author/logout" method="POST">
              <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
              <button class="logout nav-text">Logout</button>
            </form>
          {{end}}
        </li>
      </ul>
    </nav>
    <div class="topics-bar">
      {{template "topicsNav" .}}
    </div>
    <div class="mobile mobile-nav">
      <input name='toggler' type="checkbox" id="toggler">
      <label for="toggler">
        <div class="btn">
          <div class="block row1"></div>
          <div class="block row2"></div>
        </div>
      </label>
      {{template "topicsNav" .}}
    </div>
    <main class="container">
        <div class="header">
          {{template "headline" .}}
        </div>
        {{with .Flash}}
          <div class="flash">{{.}}</div>
        {{end}}
        <div class="body content">
          {{template "main" .}}
        </div>
    </main>
    <script src="/static/js/main.js" type="text/javascript"></script>
  </body>
</html>
{{end}}