{{template "base" .}}

{{define "title"}}Category{{end}}

{{define "headline"}}
{{end}}

{{define "main"}}
  {{if .Posts}}
    <div class="post-container">
    {{range .Posts}}
      <a class="post" href="/post/{{.ID}}">
        <p class="headline">{{.Title}}</p>
        <p class="body post-content">{{.Summary}}...</p>
      </a>
    {{end}}
    </div>
  {{else}}
    <div class="wip">WORK IN PROGRESS</div>
    <p class="sub-text">Thanks for being patient!</p>
  {{end}}
{{end}}