{{template "base" .}}

{{define "title"}}Category{{end}}

{{define "headline"}}
{{end}}

{{define "main"}}
    <div class="post-container">
    {{range .Posts}}
      <div class="post">
        <p class="headline post-title">{{.Title}}</p>
        <p class="body post-content">{{.Summary}}</p>
        <a class="sub-text read-more" href="/post/{{.ID}}">Read More</a>
      </div>
    {{end}}
    </div>
{{end}}