{{template "base" .}}

{{define "title"}}Contact{{end}}

{{define "headline"}}
  <div class="header show-header">
    <div class="title">Contact</div>
  </div>
  <div class="line">
    <hr>
  </div>
{{end}} 
{{define "main"}}
  <h3>EMAIL: omaralaniz@protonmail.com</h3>
  <h3>GITHUB: github.com/omaralaniz</h3>
{{end}}