{{define "footer"}}
  <a class="nav-a"href="https://github.com/omaralaniz/"><img class="link" src="../static/img/github.svg"></a>
  <a class="nav-a"href="https://www.youtube.com/channel/UCne1VWA4Cs1yLkZ0ILuMdgQ"><img class="link" src="../static/img/Youtube.svg"></a>
{{end}}