{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "headline"}}
    <img class="big big-cws" src="../static/img/title.svg" alt="cws">
    <img class="mobile mobile-cws" src="../static/img/mobile-cws.svg" alt=cws>
{{end}}

{{define "main"}}
    <p class="sub-headline">Latest</p>
    <div class="post-container">
    {{range .Posts}}
      <a class="post" href="/post/{{.ID}}">
        <p class="headline">{{.Title}}</p>
        <p class="body post-content">{{.Summary}}...</p>
      </a>
    {{end}}
    </div>
{{end}} 