{{define "topicsNav"}}
  <ul class="nav-ul topics-nav">
    <li class="headline topics">Topics</li>
    <li class="body nav-li nav-item link-text"><a class="nav-a nav-link" href="/coding-challenges"><span class="link-text">CODING CHALLENGES</span></a></li>
    <li class="body nav-li nav-item link-text"><a class="nav-a nav-link" href="/computer-networking"><span class="link-text">COMPUTER NETWORKING</span></a></li>
    <li class="body nav-li nav-item link-text"><a class="nav-a nav-link" href="/databases"><span class="link-text">DATABASES</span></a></li>
    <li class="body nav-li nav-item link-text"><a class="nav-a nav-link" href="/go"><span class="link-text">GO</span></a></li>
    <li class="body nav-li nav-item link-text"><a class="nav-a nav-link" href="/javascript"><span class="link-text">JAVASCRIPT</span></a></li>
    <li class="body nav-li nav-item link-text"><a class="nav-a nav-link" href="/security"><span class="link-text">SECURITY</span></a></li>
    <li class="body nav-li nav-item link-text"><a class="nav-a nav-link" href="/web-apps"><span class="link-text">WEB APPLICATIONS</span></a></li>
    <li class="body nav-li nav-item link-text"><a class="nav-a nav-link" href="/misc"><span class="link-text">MISCELLANEOUS</span></a></li>
    <li class="nav-li nav-item link-text">
      <span class="links-container">
        <a class="nav-link link big" href="https://github.com/omaralaniz/"><img class="link-text" src="../static/img/github.svg"></a>
        <a class="nav-a nav-link link mobile" href="/"><img class="link-text" src="../static/img/home.svg"></a>
        <a class="nav-a nav-link link mobile" href="/about"><img class="link-text" src="../static/img/about.svg"></a>
        <a class="nav-a nav-link link mobile" href="https://github.com/omaralaniz/"><img class="link-text" src="../static/img/github-mobile.svg"></a>
      </span>
    </li>
  </ul>
{{end}}