{{template "base" .}}

{{define "title"}}{{.PostEx.Title}}{{end}}


{{define "headline"}}
  {{with .PostEx}}
    <div class="header show-header">
      <div class="title">{{.Title}}</div>
      <p class="body date">{{humanDate .Modified}}</p>
    </div>
    <div class="line">
      <hr>
    </div>
    <p class="body author">by {{.Author}}</p>
  {{end}}
  {{if .IsAuthenticated}}
    <a class="sub-text edit" href="/post/edit/{{.PostEx.ID}}" method="Get">Edit</a>
  {{end}}
{{end}} 
{{define "main"}}
  {{.PostEx.Content}}
{{end}}