@use 'var';


.header.show-header{
  display: flex;
  flex-flow: row;
}

@media only screen and (min-width: 600px){
  .header.show-header{
    width: 65vw;
  }
}

@media only screen and (max-width: 600px){
  .header.show-header{
    width: 90vw;
  }
}

@media only screen and (min-width: 600px){
  .title{
    letter-spacing: -.07rem;
  }
}

@media only screen and (max-width: 600px){
  .title{
    letter-spacing: -.05rem;
  }
}

.body.date{
  margin: 0 0 0 auto;
  align-self: end;
}

hr{
  margin: 0;
  padding: 0;
}

.body.author{
  text-align: left;
  margin: 0;
}

pre{
  padding: .25rem;
  background-color: var.$alt-bg-color;
  border-radius: .10rem;
}

code{
  display: block;
  overflow: auto;
}

@media only screen and (max-width: 600px){
  code{
    font-size: .20rem;
  }
}

.content{
  p{
    img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      height: auto;
    }
  }
}