@use 'var';

@media only screen and (max-width: 600px){
  .mobile-cws{
    display: block;
  }
  .big-cws{
    display: none;
  }
}

@media only screen and (min-width: 600px){
  .big-cws{
    display: block;
    height: auto;
    max-width: 100%;
  }
  .mobile-cws{
    display: none;
  }
}

.sub-headline{
  font-family: var.$alt-text;
  text-decoration: underline;
  font-size: .25rem;
  margin: 0 0 .50rem 0;
  text-align: center;
}

.post-container{
  display: grid;
  overflow: auto;
  scrollbar-width: none; 
  grid-template-columns: 1fr;
  grid-template-rows: auto ;
  gap: 1rem 1rem;
}

.headline{
  .post-title{
    margin: 0;
  }
}

.body.post-content{
  overflow: hidden;
  margin: .25rem 0 0 0;

  max-height: 120px;
}

.post{
  text-decoration: none;
  color: var.$text-color;
}