@use 'var';

@media only screen and (max-width: 600px){
  .mobile-cws{
    display: block;
  }
  .big-cws{
    display: none;
  }
}

@media only screen and (min-width: 600px){
  .big-cws{
    display: block;
    height: auto;
    max-width: 100%;
  }
  .mobile-cws{
    display: none;
  }
}

.sub-headline{
  font-family: var.$alt-text;
  text-decoration: underline;
  font-size: .25rem;
  margin: 0 0 .50rem 0;
  text-align: center;
}

.post-container{
  display: flex;
  overflow: auto;
  flex-flow: column;
  gap: 1rem 1rem;
}

.post{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  text-decoration: none;
  color: var.$text-color;
}

.headline{
  .post-title{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 0;
  }
}

.body.post-content{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  margin: .25rem 0 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.date{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;

  justify-self: end;
  align-self: end;
  margin: 0;
}


.wip{
  font-family: var.$large-text;
  font-weight: 900;
  font-size: 1rem;
  color: var.$alt-color;
  text-align: center;
  & + p{
    text-align: center;
  }

}