@use 'var';

nav{
  position: fixed;
  top: 0;
  right: 0;
  font-family: var.$alt-text;
}

nav a{
  text-decoration: none;
  color: var.$text-color;
}

nav a.live{
  display: none;
}

.nav-ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-li {
  float: right;
}

.nav-a{
  display: block;
  padding: .25rem .25rem 0 0; 
}

.logout{
  font-family: "Rufina", serif;
  color: var.$text-color;
  background: none;
  border: none;
  margin: .25rem .25rem 0 0;
  padding: 0;
}

/*Topics Bar*/
.topics-bar{
  position: fixed;
  background: var.$alt-bg-color;
  transition: 100ms ease;
  top: 0;

  @include var.bar((top, rgba(255,101,101,1) 0%, rgba(255,131,66,1) 20%, rgba(255,141,55,1) 20%, rgba(255,147,48,1) 40%, rgba(238,211,67,1) 40%, rgba(255,212,57,1) 60%, rgba(144,204,118,1) 60%, rgba(115,202,134,1) 80%, rgba(90,180,204,1) 80%, rgba(74,165,250,1) 100%));
  @include var.vanillaBar((to bottom, rgba(255,101,101,1) 0%, rgba(255,131,66,1) 20%, rgba(255,141,55,1) 20%, rgba(255,147,48,1) 40%, rgba(238,211,67,1) 40%, rgba(255,212,57,1) 60%, rgba(144,204,118,1) 60%, rgba(115,202,134,1) 80%, rgba(90,180,204,1) 80%, rgba(74,165,250,1) 100%));
  @include var.shadow(3px 6px 6px 0 rgba(0, 0, 0, 0.3));
  
  background-size: 6px 100%;
  background-repeat: no-repeat;
  background-position: right; 
}

.mobile-nav{
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 .25rem 0 0;
  transition: 250ms ease;
}

.btn{
  width:36px;
}

.block {
  width: 36px;
  height: 10px;
}

.row1{
  position: relative;
  transition: all 400ms ease;
  background: rgb(74,165,250);
  background: linear-gradient(to right, rgba(74,165,250,1) 0%, rgba(74,165,250,1) 33%, rgba(115,202,134,1) 33%, rgba(115,202,134,1) 66%, rgba(255,212,57,1) 66%, rgba(255,212,57,1) 100%);
}

.row2{
  position: relative;
  transition: all 400ms ease;
  background: rgb(165, 136, 226);
  background: linear-gradient(to right,rgb(165, 136, 226) 0%, rgb(165, 136, 226) 33%, rgba(255,101,101,1) 33%, rgba(255,101,101,1) 66%, rgba(255,147,48,1) 66%, rgba(255,147,48,1) 100%);
}

input[type=checkbox]{
  display: none;
}

input[type=checkbox] + label{
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 0 .25rem 0;
  transition: 100ms;
}

.topics-nav{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  a{
    color: var.$text-color;
  }
}


.nav-item:last-child{
  margin: auto 0 0 0;
}

.nav-link{
  display: flex;
  align-items: center;
  text-decoration: none;
}

@media only screen and (max-width: 600px){
  .nav-link{
    height: .50rem;
  }
  .link-text{
    display: none;
    margin: .25rem 0 0 0;
  }
}

@media only screen and (min-width: 600px){
  .nav-link{
    height: .75rem;
  }
}

.links-container{
  display: flex;
  height: 1rem;
  align-items: center;
  justify-content: space-evenly;
  width: 175px;
}

.link-text{
  display: none;
  white-space: nowrap;
  img{
    padding: .25rem 0 .25rem 0;
  }
}

@media only screen and (max-width: 600px){
  .topics{
    display: none;
  }

  .topics-nav{
    width: 4rem;
  }

  .nav-a{
    padding: 0;
  } 

  input[type=checkbox]:checked ~ ul .link-text{
    display: inline;
    transition: 250ms;
  }

  input[type=checkbox]:checked ~ ul{
    background: var.$alt-bg-color;
    @include var.bar((right, rgba(255,101,101,1) 0%, rgba(255,131,66,1) 20%, rgba(255,141,55,1) 20%, rgba(255,147,48,1) 40%, rgba(238,211,67,1) 40%, rgba(255,212,57,1) 60%, rgba(144,204,118,1) 60%, rgba(115,202,134,1) 80%, rgba(90,180,204,1) 80%, rgba(74,165,250,1) 100%));
    @include var.vanillaBar((to left, rgba(255,101,101,1) 0%, rgba(255,131,66,1) 20%, rgba(255,141,55,1) 20%, rgba(255,147,48,1) 40%, rgba(238,211,67,1) 40%, rgba(255,212,57,1) 60%, rgba(144,204,118,1) 60%, rgba(115,202,134,1) 80%, rgba(90,180,204,1) 80%, rgba(74,165,250,1) 100%));
    background-size: 100% 6px;
    background-repeat: no-repeat;
    background-position: top;
  }


  input[type=checkbox]:checked + label{
    .row1{
      transform: rotate(135deg) translate(7px, -7px) scale(.70);
    }
    .row2{
      transform: rotate(-135deg)  scale(.70);
    }
  }
}

@media only screen and (min-width: 600px){
  .mobile-nav{
    display: none;
  }

  .topics-bar{
    width: 1rem;
    height: 100vh;

    &:hover{
      width: 5rem;
  }

  }

  .topics-bar:hover .link-text{
    display: inline;
  }

  .topics{
    padding: .50rem;
    transform: rotate(90deg);
    transition: 250ms ease;
  }
  
  .topics-bar:hover .topics{
    transform: rotate(0deg);
    text-decoration: underline;
  }
}