@font-face{
  font-family: 'ruf';
  src: url('../font/Rufina-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'open';
  src: url('../font/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'rub';
  src: url('../font/Rubik-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


//TODO: Commented out colors are dark themed site
$bg-color: #F8EBD8;
// $bg-color: #443F3A;
$alt-bg-color: #F1DEBF;
// $alt-bg-color: #332f2c;
$text-color: #51473D;
// $text-color: #F8EBD8;
$focused-color: #4AA5FA;
$alt-color: #FF6565;
$main-text: 'open';
$alt-text: 'ruf';
$large-text: 'rub';

@mixin shadow($property){
  -webkit-box-shadow: $property;
  -moz-box-shadow: $property; 
  box-shadow: $property; 
}


@mixin bar($prop){
  background-image: -webkit-linear-gradient($prop);
  background-image: -moz-linear-gradient($prop);
  background-image: -ms-linear-gradient($prop);
}

@mixin vanillaBar($prop){
  background-image: linear-gradient($prop);
}