$bg-color: #F8EBD8;
$alt-bg-color: #F1DEBF;
$text-color: #51473D;
$focused-color: #4AA5FA;
$alt-color: #FF6565;
$main-text: 'Open Sans', sans-serif;
$alt-text: 'Rufina', serif;

@mixin shadow($property){
  -webkit-box-shadow: $property;
  -moz-box-shadow: $property; 
  box-shadow: $property; 
}
