:root{
  font-family: 'Open Sans', sans-serif;
  font-size:60px;
  --background-color: #F8EBD8;
}
body{
  margin: 0;
  padding:0;
}

html {
  box-sizing: border-box;
  background: var(--background-color);
}
*, *:before, *:after {
  box-sizing: inherit;
}

a{
  display: block;
  padding: 0;
  margin: 0;
}
img{
  display: block;
}

.container{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: flex-start;
  height: 100vh;

  border: 1px black solid;
  padding: 30px 30px 0px 30px;
}

.head{
  align-self: center;
}

.main{
}

.footer{
  display: flex;
  justify-content: flex-end;
}  
/*Text Specifics*/
.header{
  font-family: 'Rufina', serif;
  letter-spacing: -.07rem;
}

.body {
  font-size: .25rem;
}

.sub-headline{
  font-family: 'Rufina', serif;
  font-size: .25rem;
}

.sub-text{
  font-size: .20rem;
}

.headline{
  font-family: 'Rufina', serif;
  font-size: .50rem;
  letter-spacing: -.03rem;
}



/* Footer Specs */

.link{
  display: block;
  padding: 0;
  margin: 0;
}

/*Home Page Specifics*/

.home-container{
  display: flex;
  flex-flow: column;
  flex-basis: auto;
  align-items:center;

  border: 1px red solid;
}

.home-posts-container{
  display: grid;
  overflow: scroll;
  scrollbar-width: none; 
  grid-template-columns: 1fr;
  grid-template-rows: auto ;
  gap: 1rem 1rem;
  margin: 0;
}

.home-preview-item{
  border: 1px solid block;
  text-align: left;
}

.logo{
  align-self: center;
}

.sub-headline.homeHeader{
  margin: .25rem 0 .50rem 0;
  border: 1px solid black;
}

.headline.homeHeader{
  margin: 0;
  border: 1px solid red;
}

.body.homePosts{
  margin: .25rem 0 0 0;
  border: 1px solid indianred;
}

.sub-text.read-more{
  display: block;
  margin: .25rem 0 0 0;
  text-align: center;
  padding: 0;
  margin: 0;
}

/* Show post specs */

.show-header-container{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  width: 75vw;
}


.header.title{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: start;
  height: 60px;
}

.body.date{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;

  margin: 0;
  justify-self: end;
  align-self: end;
}

hr{
  margin: 0;
  padding: 0;
}

.body.author{
  text-align: left;
  margin: 0;
}

.body.show-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  text-align: left;
}

code{
  padding: .25rem;
  background-color: #e6cba4;
}

/* Create Post */
.create-container{
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto;

  align-items: center;
  border: 1px solid violet;
}

.create-title{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  
  margin: .30rem 0 0 0;
  border: 1px border red;
}
.create-author{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;

  margin: .30rem 0 0 0;
  border: 1px border blue;
}
.create-content{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;

  border: 1px border green;
}

.create-btn{
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}

.submit-btn{
  font-family: 'Open Sans', sans-serif;
  color: #F8EBD8;
  padding: .1677rem;
  background: #FF6565;
  border: none;
}

.submit-btn:hover{
  cursor: pointer;
  background: #4AA5FA;
}
.submit-btn:focus{
  cursor: pointer;
  background: #4AA5FA;
}


label{
  display: inline;
  font-family: 'Rufina', serif;
}

.content-label{
  display: block;
}

.errors{
  color: #FF6565;
}

.create-input{
  height: .50rem;
  width: 80%;
  margin: .1677rem;
  background: #f7f3ed;
}

textarea{
  font-family: 'Open Sans', sans-serif;
  width: 75%;
  height: 60vh;
  resize: none;
  transition: 250ms;

  background: #f7f3ed;
}

textarea:focus{
  outline: none !important;
  transform: scale(1.05);
  -webkit-box-shadow: 6px 6px 6px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow:    6px 6px 6px 0 rgba(0, 0, 0, 0.3); 
  box-shadow:         6px 6px 6px 0 rgba(0, 0, 0, 0.3); 
}

textarea:hover{
  outline: none !important;
  transform: scale(1.05);
  -webkit-box-shadow: 6px 6px 6px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow:    6px 6px 6px 0 rgba(0, 0, 0, 0.3); 
  box-shadow:         6px 6px 6px 0 rgba(0, 0, 0, 0.3); 
}

input{
  transition: 250ms;
}

input:focus{
  outline: none !important;
  transform: scale(1.05);
  -webkit-box-shadow: 3px 6px 6px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow:    3px 6px 6px 0 rgba(0, 0, 0, 0.3); 
  box-shadow:         3px 6px 6px 0 rgba(0, 0, 0, 0.3);  
}

input:hover{
  outline: none !important;
  transform: scale(1.05);
  -webkit-box-shadow: 3px 6px 6px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow:    3px 6px 6px 0 rgba(0, 0, 0, 0.3); 
  box-shadow:         3px 6px 6px 0 rgba(0, 0, 0, 0.3); 
}