@media only screen and (max-width: 600px) {
  .mobile-cws {
    display: block;
  }

  .big-cws {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  .big-cws {
    display: block;
    height: auto;
    max-width: 100%;
  }

  .mobile-cws {
    display: none;
  }
}
.sub-headline {
  font-family: "Rufina", serif;
  text-decoration: underline;
  font-size: 0.25rem;
  margin: 0 0 0.5rem 0;
  text-align: center;
}

.post-container {
  display: grid;
  overflow: auto;
  scrollbar-width: none;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1rem 1rem;
}

.headline .post-title {
  margin: 0;
}

.body.post-content {
  overflow: hidden;
  margin: 0.25rem 0 0 0;
  max-height: 120px;
}

.post {
  text-decoration: none;
  color: #51473D;
}

.header.show-header {
  display: flex;
  flex-flow: row;
}

@media only screen and (min-width: 600px) {
  .header.show-header {
    width: 65vw;
  }
}
@media only screen and (max-width: 600px) {
  .header.show-header {
    width: 90vw;
  }
}
@media only screen and (min-width: 600px) {
  .title {
    letter-spacing: -0.07rem;
  }
}
@media only screen and (max-width: 600px) {
  .title {
    letter-spacing: -0.02rem;
  }
}
.body.date {
  margin: 0 0 0 auto;
  align-self: flex-end;
}

hr {
  margin: 0;
  padding: 0;
}

.body.author {
  text-align: left;
  margin: 0;
}

pre {
  padding: 0.25rem;
  background-color: #F1DEBF;
  border-radius: 0.1rem;
}

code {
  display: block;
  overflow: auto;
}

@media only screen and (max-width: 600px) {
  code {
    font-size: 0.2rem;
  }
}
.content p img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}

.edit {
  text-decoration: none;
  color: #FF6565;
}

/* Create Post */
.create-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 70vw;
}

.title-input {
  width: 4rem;
}

.submit-btn {
  font-family: "Open Sans", sans-serif;
  color: #F8EBD8;
  background: #FF6565;
  border: none;
  margin: 0.2rem 0 0 0;
  width: 2rem;
  cursor: pointer;
}
.submit-btn:focus {
  background: #4AA5FA;
}
.submit-btn:hover {
  background: #4AA5FA;
  transform: scale(1.05);
  -webkit-box-shadow: 3px 6px 6px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 6px 6px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 3px 6px 6px 0 rgba(0, 0, 0, 0.3);
}

.summary {
  height: 25vh;
}

label {
  display: block;
  font-family: "Rufina", serif;
  margin: 0;
}

.errors {
  color: #FF6565;
}

textarea {
  font-family: "Open Sans", sans-serif;
  width: 70vw;
  height: 70vh;
  resize: none;
  transition: 250ms;
  background: #F1DEBF;
  color: #51473D;
}
@media only screen and (max-width: 600px) {
  textarea {
    width: 80vw;
  }
}

input:hover {
  outline: none !important;
}

select {
  height: 0.5rem;
  transition: 250ms;
  background: #F1DEBF;
  color: #51473D;
}

/*Sign-up & login*/
.content .form-container {
  display: flex;
  flex-flow: column;
  margin: 1rem;
  align-self: center;
  align-items: center;
}
.content .form-container .form-btn {
  text-align: center;
  align-self: center;
}
.content .form-container .user-input {
  width: 3rem;
}
@media only screen and (min-width: 600px) {
  .content .form-container .form-btn {
    width: 30vw;
  }
}
@media only screen and (min-width: 600px) {
  .content .form-container {
    width: 30vw;
  }
}
@media only screen and (max-width: 600px) {
  .content .form-container {
    width: 80vw;
  }
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  font-family: "Rufina", serif;
}

nav a {
  text-decoration: none;
  color: #51473D;
}

nav a.live {
  display: none;
}

.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-li {
  float: right;
}

.nav-a {
  display: block;
  padding: 0.25rem 0.25rem 0 0;
}

.logout {
  font-family: "Rufina", serif;
  color: #51473D;
  background: none;
  border: none;
  margin: 0.25rem 0.25rem 0 0;
  padding: 0;
}

/*Topics Bar*/
.topics-bar {
  position: fixed;
  background: #F1DEBF;
  transition: 100ms ease;
  top: 0;
  background-image: -webkit-linear-gradient(top, #ff6565 0%, #ff8342 20%, #ff8d37 20%, #ff9330 40%, #eed343 40%, #ffd439 60%, #90cc76 60%, #73ca86 80%, #5ab4cc 80%, #4aa5fa 100%);
  background-image: -moz-linear-gradient(top, #ff6565 0%, #ff8342 20%, #ff8d37 20%, #ff9330 40%, #eed343 40%, #ffd439 60%, #90cc76 60%, #73ca86 80%, #5ab4cc 80%, #4aa5fa 100%);
  background-image: -ms-linear-gradient(top, #ff6565 0%, #ff8342 20%, #ff8d37 20%, #ff9330 40%, #eed343 40%, #ffd439 60%, #90cc76 60%, #73ca86 80%, #5ab4cc 80%, #4aa5fa 100%);
  background-image: linear-gradient(to bottom, #ff6565 0%, #ff8342 20%, #ff8d37 20%, #ff9330 40%, #eed343 40%, #ffd439 60%, #90cc76 60%, #73ca86 80%, #5ab4cc 80%, #4aa5fa 100%);
  -webkit-box-shadow: 3px 6px 6px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 6px 6px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 3px 6px 6px 0 rgba(0, 0, 0, 0.3);
  background-size: 6px 100%;
  background-repeat: no-repeat;
  background-position: right;
}

.mobile-nav {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 0.25rem 0 0;
  transition: 250ms ease;
}

.btn {
  width: 36px;
}

.block {
  width: 36px;
  height: 10px;
}

.row1 {
  position: relative;
  transition: all 400ms ease;
  background: #4aa5fa;
  background: linear-gradient(to right, #4aa5fa 0%, #4aa5fa 33%, #73ca86 33%, #73ca86 66%, #ffd439 66%, #ffd439 100%);
}

.row2 {
  position: relative;
  transition: all 400ms ease;
  background: #a588e2;
  background: linear-gradient(to right, #a588e2 0%, #a588e2 33%, #ff6565 33%, #ff6565 66%, #ff9330 66%, #ff9330 100%);
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 0 0.25rem 0;
  transition: 100ms;
}

.topics-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.topics-nav a {
  color: #51473D;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin: auto 0 0 0;
}

.nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .nav-link {
    height: 0.5rem;
  }

  .link-text {
    display: none;
    margin: 0.25rem 0 0 0.25rem;
  }
}
@media only screen and (min-width: 600px) {
  .nav-link {
    height: 0.75rem;
  }
}
@media only screen and (min-width: 600px) {
  .link-text {
    margin-left: 0.25rem;
  }
}
.links-container {
  display: flex;
  height: 1rem;
  align-items: center;
  justify-content: space-evenly;
  width: 175px;
}

.link-text {
  display: none;
  white-space: nowrap;
}
.link-text img {
  padding: 0.25rem 0 0.25rem 0;
}

@media only screen and (max-width: 600px) {
  .topics {
    display: none;
  }

  .topics-nav {
    width: 4rem;
  }

  .nav-a {
    padding: 0;
  }

  input[type=checkbox]:checked ~ ul .link-text {
    display: inline;
    transition: 250ms;
  }

  input[type=checkbox]:checked ~ ul {
    background: #F1DEBF;
    background-image: -webkit-linear-gradient(right, #ff6565 0%, #ff8342 20%, #ff8d37 20%, #ff9330 40%, #eed343 40%, #ffd439 60%, #90cc76 60%, #73ca86 80%, #5ab4cc 80%, #4aa5fa 100%);
    background-image: -moz-linear-gradient(right, #ff6565 0%, #ff8342 20%, #ff8d37 20%, #ff9330 40%, #eed343 40%, #ffd439 60%, #90cc76 60%, #73ca86 80%, #5ab4cc 80%, #4aa5fa 100%);
    background-image: -ms-linear-gradient(right, #ff6565 0%, #ff8342 20%, #ff8d37 20%, #ff9330 40%, #eed343 40%, #ffd439 60%, #90cc76 60%, #73ca86 80%, #5ab4cc 80%, #4aa5fa 100%);
    background-image: linear-gradient(to left, #ff6565 0%, #ff8342 20%, #ff8d37 20%, #ff9330 40%, #eed343 40%, #ffd439 60%, #90cc76 60%, #73ca86 80%, #5ab4cc 80%, #4aa5fa 100%);
    background-size: 100% 6px;
    background-repeat: no-repeat;
    background-position: top;
  }

  input[type=checkbox]:checked + label .row1 {
    transform: rotate(135deg) translate(7px, -7px) scale(0.7);
  }
  input[type=checkbox]:checked + label .row2 {
    transform: rotate(-135deg) scale(0.7);
  }
}
@media only screen and (min-width: 600px) {
  .mobile-nav {
    display: none;
  }

  .topics-bar {
    width: 1rem;
    height: 100vh;
  }
  .topics-bar:hover {
    width: 5rem;
  }

  .topics-bar:hover .link-text {
    display: inline;
  }

  .topics {
    padding: 0.5rem;
    transform: rotate(90deg);
    transition: 250ms ease;
  }

  .topics-bar:hover .topics {
    transform: rotate(0deg);
    text-decoration: underline;
  }
}
:root {
  font-family: "Open Sans", sans-serif;
  font-size: 60px;
  color: #51473D;
}

body {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  background: #F8EBD8;
}

*, *:before, *:after {
  box-sizing: inherit;
}

input {
  height: 0.5rem;
  margin: 0 0 0.2rem 0;
  background: #F1DEBF;
  color: #51473D;
  transition: 250ms;
}

h2 {
  font-family: "Rufina", serif;
  margin: 0;
  padding: 0.5rem 0 0 0;
}

h3 {
  font-family: "Rufina", serif;
  margin: 0;
  padding: 0.25rem 0 0 0;
}

h4 {
  font-family: "Rufina", serif;
  margin: 0;
  padding: 0.5rem 0 0 0;
}

ul {
  list-style-type: none;
}

.indent {
  margin: 0 0 0 0.5rem;
}

.pop {
  color: #FF6565;
}

.highlight {
  background: #FFBE31;
}

/*Displays "none" when screen switches btwn big and mobile*/
@media only screen and (min-width: 600px) {
  .mobile {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .big {
    display: none;
  }
}
/*Text Specifications*/
.header {
  font-family: "Rufina", serif;
}

@media only screen and (max-width: 600px) {
  .header {
    font-size: 0.5rem;
  }
}
.headline {
  font-family: "Rufina", serif;
  font-size: 0.5rem;
  letter-spacing: -0.03rem;
  margin-bottom: 0;
}

.body {
  font-size: 0.25rem;
}

.sub-text {
  font-size: 0.2rem;
}

.nav-text {
  font-size: 0.22rem;
}

.flash {
  font-family: "Rufina", serif;
  font-size: 0.25rem;
  color: #FF6565;
}

/*The container for the page*/
.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  overflow-x: clip;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .container {
    margin: 0.5rem 0 1rem 0;
  }
}
@media only screen and (min-width: 600px) {
  .container {
    margin: 0.5rem 0 1rem 1rem;
  }
}
.content {
  display: flex;
  flex-flow: column;
  margin: 0.75rem 0 0;
}

@media only screen and (max-width: 600px) {
  .content {
    width: 90vw;
  }
}
@media only screen and (min-width: 600px) {
  .content {
    width: 65vw;
  }
}

/*# sourceMappingURL=style.css.map */
